body{
font-family: "Roboto", sans-serif;
}

ul{list-style-type: none;}

a{text-decoration: none;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
/*--Header--*/

.header-logo{
 width: 115px;
 height: 24px;
 font-weight: 700;
 font-size: 18px;
 line-height: 117%;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4D5AE5;      
}

.header-logo-color{       
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;         
 }

.header-menu-link{
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em; color: var(--navy-blue);
}
               
.header-menu-link:hover,
.header-menu-link:focus {
color: #4D5AE5;}

.header-address-link{
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--slate);}

.header-address-link:hover, 
.header-address-link:focus {color: #4d5ae5;}

/*---------- ----------*/



/*---Секція з кнопкою---*/

.button { background-color: #2E2F42;}

.button-title {
font-weight: 700;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: var(--white);}

.button-click {
background-color: #4D5AE5;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
color: #FFFFFF
}

.button-click:hover, 
.button-click:focus {color: #e90f34;}

/*---------- ----------*/



/*--Розділи переваги--*/

.features { }

.features-list {}

.features-item {}

.features-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.features-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
/*---------- ----------*/



/*--Foto--*/

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.team-list {}

.team-list-item {}

.team-images {}

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.team-profesion {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/*---------- ----------*/

/*--Portfolio--*/

.portfolio {}

.portfolio-title {
    font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-images {}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color:#434455;
}
/*----------- -----------*/


/*--Footer--*/

.footer {
    background-color: #2E2F42;
}

.footer-logo{
    width: 115px;
        height: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.footer-logo-color{
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

/*----------- -----------*/