body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

ul{list-style-type: none;}

a{text-decoration: none;}

.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
}
/*--Header--*/

.header-logo{
font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 117%;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 margin-right: 76px;
 color: #4D5AE5;      
}

.header-logo-color{       
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;         
 }

.header-menu-link{
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em; 
color: #2E2F42;
}
               
.contacts{
    font-style: normal;}

.header-contacts-link{
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover, 
.header-contacts-link:focus {color: #404BBF;}

/*---------- ----------*/



/*--1-Секція з кнопкою---*/

.button {
    background-color: #2E2F42;
font-family: inherit;
}

.button-title {
font-weight: 700;
font-size: 56px;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.07;
color: #FFFFFF;}

.button-click {
background-color: #4D5AE5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

.button-click:hover, 
.button-click:focus {background-color: #404BBF;}

/*---------- ----------*/



/*--2-Розділи переваги--*/

.features { }

.features-list {}

.features-item {}

.features-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.features-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
/*---------- ----------*/



/*--3-Foto--*/

.team {
    background-color: #F4F4FD;
}

.team-title {
    text-transform: capitalize;
    font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.team-list{}

.team-list-item {
    background-color: #FFFFFF;
}

.team-images {}

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.team-profesion {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/*---------- ----------*/

/*--4-Portfolio--*/

.portfolio {}

.portfolio-title {
    text-transform: capitalize;
    font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-images {}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color:#434455;
}
/*----------- -----------*/


/*--Footer--*/

.footer {
    background-color: #2E2F42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
        color: #4D5AE5;
}

.footer-logo-color{
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

/*----------- -----------*/